body {
  display: block;
}

.navbar-inverse .navbar-brand {
  color: #00ff00;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(0,255,0,.4);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
  text-shadow: 0 1px 0 rgba(255,255,255,.10), 0 0 30px rgba(255,255,255,.40);
}

.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(199,37,78,.4);
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #00ff00;
}

.footer {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #e1e1e8;
}
