<header class="navbar navbar-inverse navbar-static-top" role="banner">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a title="Martin Schmidt's Blog" class="navbar-brand" href="/">{{ site.name }}</a>
  </div>
  <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height :1px">
  <ul class="nav navbar-nav navbar-right">
    <li><a title="Martin Schmidt @ GitHub" href="https://github.com/martin-schmidt">@GitHub</a></li>
    <li><a title="Martin Schmidt @ Facebook" href="#">@Facebook</a></li>
    <li><a title="Martin Schmidt @ Twitter" href="#">@Twitter</a></li>
    <li><a title="Martin Schmidt @ LinkedIn" href="https://de.linkedin.com/in/martinschmidt1337">@LinkedIn</a></li>
  </ul>
  </nav>
</div>
</header>
